// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  padding: 10px 10px;
  h1 {
    margin: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: grey;
    &:hover {
      color: lightgrey;
    }
  }
}


.title-list {
  background-color: #fffbeb;
  padding: 3px 10px;
  margin: 15px 0;
  box-shadow: 1px 3px 7px lightgrey;
  h2 {
    margin: 5px 0;
    a {
      color: #0085cc;
      text-decoration: none;
      &:hover {
        color: #85D4FF;
        text-decoration: none;
      }
    }
  }
  p {
    margin: 5px 0;
  }
}

h2 {
  color: #0085cc;
  a {
    text-decoration: none;
  }
}

p {
  margin: 5px 0;
}

#article_title {
  width: 100%;
  padding: 5px 5px 30px;
}

#article_content {
  width: 100%;
  padding: 5px 5px 150px;
}
